<div class="content contentNoPaddingLR">
    <div class=" card centerCard">
        <div class=" card-header">
            <h3 class="marginText title textCenter">Réinitialisation du mot de passe</h3>
        </div>
        <div class=" card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class=" row">
                    <div class=" form-group inputCenter">
                        <label> Mot de passe </label>
                        <input class=" form-control" formControlName="password" placeholder="Mot de passe"
                            type="password" value="" />
                        <div *ngIf="passwordCheck" class="text-danger">
                            Votre champs est vide
                        </div>
                    </div>
                </div>
                <div class=" row">
                    <div class=" form-group inputCenter">
                        <label> Retaper votre mot de passe </label>
                        <input class=" form-control" formControlName="passwordVerify" placeholder="Retaper votre mot de passe"
                            type="password" value="" />
                        <div *ngIf="passwordVerifyCheck" class="text-danger">
                            Votre champs est vide
                        </div>
                        <div *ngIf="confirmPasswordEqualCheck" class="text-{{typeAlert}}">
                            {{passwordConfirmMsg}}
                        </div>
                    </div>
                    <div>
                        <button style="margin-top: 12px" type="submit"
                            class=" btn btn-fill btn-danger centerBouttonLogin" type="submit">Réinitialiser</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>